@charset "UTF-8";
/* homePeed.jsp 페이지의 css 코드의 집합 */

	/* 오늘 있었던 일에 대해서 한 줄 적어주세요.에 해당하는 부분의 코드 */ 
	.peed_create{
		background-color: white;
		margin: 60px auto;
		padding: 0 10px;
		width: 800px;
		height: 80px;
		border-radius: 20px 20px 20px 20px;
	}
	
	/* 하나의 피드 부분을 묶기 위한 코드 */
	.peed_body{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: white;
		margin: 30px auto 0px;
		width: 800px;
		border: 5px solid #b2bda0;
	}
	
	/* 피드의 info 영역에 대한 코드 */
	.peed_content_info{
		background-color: white;
		margin: 10px auto;
		width: 800px;
		height: 100px;
		border: 5px solid purple;
	}
	/* 피드의 text 영역에 대한 코드 */
	.peed_content_text{
		background-color: white;
		margin: 5px auto;
		width: 800px;
		border: 5px solid purple;
	}
	/* 피드의 img 영역에 대한 코드 이미지/동영상 택일이나 편의상 img로 네이밍*/
	.peed_content_img{
		background-color: white;
		margin: 0 auto;
		width: 800px;
		height: 400px;
		border: 5px solid skyblue;
	}
	
	/* img 중앙정렬을 위한 img-box */
	.img-box{
 		margin: 0 auto;
		height: 400px;
		display: flex;
		justify-content: center;
	}
	.img-box img{
		height: 400px;
		justify-content: center;
	}
	.img-box > div{
		background-color: #b2bda0;
 		margin: 0 auto;
		width: 800px;
		justify-content: center;
	}
	
	/* 좋아요, 댓글달기, 내 피드에 공유하기 선택 영역을 묶은 코드 */
	.action_choose{
		display:flex;
		background-color: white;
		margin: 10px auto 0px;
		width: 800px;
		height: 60px;
		border-top: 5px solid #b2bda0;
	}
	/* 좋아요 영역에 대한 코드 */
	.action_like{
		background-color: white;
		width: 260px;
		height: 60px;
		border-right: 5px solid #b2bda0;
	}
	/* 댓글달기 영역에 대한 코드 */
	.action_reply{
		background-color: white;
		width: 260px;
		height: 60px;
		border-right: 5px solid #b2bda0;
	}
	/* 공유하기 영역에 대한 코드 */
	.action_share{
		background-color: white;
		width: 260px;
		height: 60px;
	}
	
	/* 댓글 영역 묶은 코드 */
	.comment_body{
		display: flex;
		flex-direction: column;
		background-color: white;
		margin: 0px auto 60px;
		width: 800px;
		border-left: 5px solid #b2bda0;
		border-right: 5px solid #b2bda0;
		border-bottom: 5px solid #b2bda0;
	}